{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-sm-6">
            <h1 class="pull-left">Ticket creation</h1>
        </div>
        <div class="col-sm-6">
            <a class="pull-right btn btn-primary" href="{{ path('ticket_index') }}">Back to the list</a>
        </div>
    </div>

    {{ form_start(form) }}

    {{ form_widget(form) }}

        <input class="btn btn-primary" type="submit" value="Create" />

    {{ form_end(form) }}



{% endblock %}
