{% extends 'base.html.twig' %}

{% block body %}
    {% if role == 'ROLE_NORMAL' %}
        {% include 'default/indexNormal.html.twig' %}
    {% elseif role == 'ROLE_TECNICO' %}
        {% include 'default/indexTecnico.html.twig'  %}
    {% else %}
        <h1>TaskApp</h1>
    {% endif %}
{% endblock %}

