{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>Crear usuario</h1>
<a class="btn btn-primary" href="{{ path('user_index') }}">Volver a la lista</a>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Crear" />
    {{ form_end(form) }}


{% endblock %}
